body {
      font-family: 'Josefin Sans', sans-serif;
	  color: #fff;
	  background: linear-gradient(-45deg, white, plum, #736aff);
	  background-size: 400% 400%;
	  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}
h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 0;
}
h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
p {
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
}
p2 {
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
  padding: 0px;
  padding-top: 0px;
}
nav {
  margin-bottom: 30px;
  text-align: center;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}
nav a{
  font-size: 25px;
  color: white;
  text-decoration: none;
}
nav a:hover {
    color: #f778a1;
    text-decoration: none;
}
a {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: #fdd017;
}
a:hover {
    color: #f778a1;
    text-decoration: underline;
}
nav {
	margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}
main {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
footer {
  color: #fff;
  font-size: 14px;
  padding: 20px;
  background-color: #5c5858;
  text-align: center;
}
footer p{
  margin: 0;
}
nav a:hover {
  color: #ecc5c0;
  text-decoration: none;
}
a {
  color: gray;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
  text-decoration: underline;
}
.mainimage {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #ddd;
  background-image: url("img/tumblr_plqo68bjEd1y4v9q6o1_400.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  margin-left: 0px;
}
.color {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}
.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: 280px auto 150px;
    position: relative;
    width: 30px;
    z-index: 10;
}
.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}
.mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}
@keyframes scrolling {
0% {
    opacity: 0;
    top: 5px;
}
30% {
    opacity: 1;
    top: 10px;
}
100% {
    opacity: 0;
    top: 25px;
}
}

.pad-xl {
	padding: 200px 0px;
}

.pad-lg {
	padding: 160px 0px;
}

.pad-sm {
	padding: 80px 0px;
}

.pad-xs {
	padding: 30px 0px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
#example{
	background-attachment: scroll;
}
#example {
  background: url("img/Galaxy.jpg") #231f20 no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pad-xl {
	padding: 200px 0px;
}

.pad-lg {
	padding: 160px 0px;
}

.pad-sm {
	padding: 80px 0px;
}

.pad-xs {
	padding: 30px 0px;
}

.container {
  position: relative;
  width: 80%;
  height: 80%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: clear;
	background-size: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: #fff;
  font-size: 35px;
	font-family: Raleway, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 45%;
  padding: 0 4px;
  margin: 0 auto;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.shrink img{
	transition: 1s ease;
}

.shrink:hover {
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	transition: 1s ease;
}

div.gallery {
  margin: 45px;
  border: 1px solid #ccc;
  float: left;
  width: 40%;
}

div.gallery:hover {
  border: 1px solid black;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
#grad1 {
  height: 200px;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(white, plum); /* Standard syntax (must be last) */
}
